name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    concurrency:
      group: ci-${{ "{{ github.ref }}" }}
      cancel-in-progress: true

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v3
    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest"
        mamba-version: "1.*"
        environment-file: conda/dev.yaml
        channels: conda-forge,nodefaults
        channel-priority: true
        activate-environment: {{ cookiecutter.project_slug }}
        use-mamba: true
        miniforge-variant: Mambaforge

    - name: Install dependencies
      run: poetry install

    - name: Run tests
      run: make test

    - name: Run style checks
      run: |
        pre-commit install
        make lint
