name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    concurrency:
      group: ci-${{ "{{ github.ref }}" }}
      cancel-in-progress: true

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v3
    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest"
        mamba-version: "1.*"
        environment-file: conda/dev.yaml
        channels: conda-forge,nodefaults
        channel-priority: true
        activate-environment: {{ cookiecutter.project_slug }}
        use-mamba: true
        miniforge-variant: Mambaforge

    - name: Install dependencies
      run: |
        {%- if cookiecutter.build_system == "poetry" %}
        poetry install
        {%- elif cookiecutter.build_system == "flit" %}
        flit install
        {%- elif cookiecutter.build_system == "pdm" %}
        pdm install
        {%- else %}
        pip install .
        {%- endif %}

    - name: Run tests
      run: |
        {%- if cookiecutter.use_makim == "yes" %}
        makim tests.unit
        {%- else %}
        make test
        {%- endif %}

    - name: Run style checks
      run: |
        pre-commit install
        {%- if cookiecutter.use_makim == "yes" %}
        makim tests.linter
        {%- else %}
        make lint
        {%- endif %}
