---
default_stages:
  - commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer

  - repo: local
    hooks:
    - id: black
      entry: black
      name: black
      language: system
      pass_filenames: true
      types:
        - python

    - id: mypy
      name: mypy
      entry: mypy
      files: "src\/scicookie\/.*"
      language: system
      pass_filenames: true
      # pre-commit + mypy doesn't honor the exclusion defined in the config
      exclude: |
        (?x)(
            src/scicookie/{{cookiecutter.project_slug}}/
          | src/scicookie/hooks
        )
      types:
        - python

    - id: ruff
      name: ruff
      entry: ruff --no-cache
      language: system
      pass_filenames: true
      files: "src/scicookie/"
      # pre-commit + ruff doesn't honor the exclusion defined in the config
      exclude: |
        (?x)(
            src/scicookie/{{cookiecutter.project_slug}}
          | src/scicookie/hooks
        )
      types:
        - python
