{%- if cookiecutter.build_system == "poetry" %}
poetry
{%- elif cookiecutter.build_system == "flit" %}
flit
{%- elif cookiecutter.build_system == "mesonpy" %}
meson-python
{%- elif cookiecutter.build_system == "setuptools" %}
setuptools
build
{%- elif cookiecutter.build_system == "pdm" %}
pdm
{%- elif cookiecutter.build_system == "hatch" %}
hatch
{%- elif cookiecutter.build_system == "maturin" %}
maturin
rust
{%- elif cookiecutter.build_system == "scikit-build-core" %}
scikit-build-core
cmake
{%- elif cookiecutter.build_system == "pybind11" %}
pybind11
cmake
{%- elif cookiecutter.build_system == "pixi" %}
setuptools
pixi
build
{%- elif cookiecutter.build_system == "uv" %}
uv
build
{%- endif %}
nodejs  # used by semantic-release
{%- if cookiecutter.use_shellcheck == "yes" %}
shellcheck
{%- endif %}
{%- if cookiecutter.documentation_engine.startswith("sphinx") %}
pandoc
{%- endif %}
{%- if cookiecutter.use_mypy == "yes" %}
mypy
{%- endif %}
{%- if cookiecutter.use_make == "yes" %}
make
{%- endif %}
{% if cookiecutter.use_altair == "yes" -%}
altair
{% endif -%}
{% if cookiecutter.use_beautifulsoup4 == "yes" -%}
beautifulsoup4
{% endif -%}
{% if cookiecutter.use_bokeh == "yes" -%}
bokeh
{% endif -%}
{% if cookiecutter.use_dash == "yes" -%}
dash
{% endif -%}
{% if cookiecutter.use_folium == "yes" -%}
folium
{% endif -%}
{% if cookiecutter.use_ibis_framework == "yes" -%}
ibis-framework
{% endif -%}
{% if cookiecutter.use_jupyterlab == "yes" -%}
jupyterlab
{% endif -%}
{% if cookiecutter.use_langchain == "yes" -%}
langchain
{% endif -%}
{% if cookiecutter.use_matplotlib == "yes" -%}
matplotlib
{% endif -%}
{% if cookiecutter.use_nltk == "yes" -%}
nltk
{% endif -%}
{% if cookiecutter.use_numpy == "yes" -%}
numpy
{% endif -%}
{% if cookiecutter.use_openai == "yes" -%}
openai
{% endif -%}
{% if cookiecutter.use_pandas == "yes" -%}
pandas
{% endif -%}
{% if cookiecutter.use_panel == "yes" -%}
panel
{% endif -%}
{% if cookiecutter.use_plotly == "yes" -%}
plotly
{% endif -%}
{% if cookiecutter.use_polars == "yes" -%}
polars
{% endif -%}
{% if cookiecutter.use_pytorch_cpu == "yes" -%}
torch
torchvision
torchaudio
{% endif -%}
{% if cookiecutter.use_pytorch_cuda == "yes" -%}
torch
torchvision
torchaudio
{% endif -%}
{% if cookiecutter.use_pytorch_rocm == "yes" -%}
torch
torchvision
torchaudio
{% endif -%}
{% if cookiecutter.use_pytorch_mps == "yes" -%}
torch
torchvision
torchaudio
{% endif -%}
{% if cookiecutter.use_quarto_cli == "yes" -%}
quarto-cli
{% endif -%}
{% if cookiecutter.use_rago == "yes" -%}
rago
{% endif -%}
{% if cookiecutter.use_requests == "yes" -%}
requests
{% endif -%}
{% if cookiecutter.use_scikit_learn == "yes" -%}
scikit-learn
{% endif -%}
{% if cookiecutter.use_scipy == "yes" -%}
scipy
{% endif -%}
{% if cookiecutter.use_scrapy == "yes" -%}
scrapy
{% endif -%}
{% if cookiecutter.use_seaborn == "yes" -%}
seaborn
{% endif -%}
{% if cookiecutter.use_spacy == "yes" -%}
spacy
{% endif -%}
{% if cookiecutter.use_statsmodels == "yes" -%}
statsmodels
{% endif -%}
{% if cookiecutter.use_tensorflow == "yes" -%}
tensorflow
{% endif -%}
{% if cookiecutter.use_xgboost == "yes" -%}
xgboost
{% endif -%}
