name: main

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    concurrency:
      group: ci-${{ github.ref }}
      cancel-in-progress: true

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v2

    - name: Cache conda
      uses: actions/cache@v2
      env:
        # Increase this value to reset cache if etc/example-environment.yml has not changed
        CACHE_NUMBER: 0
      with:
        path: ~/conda_pkgs_dir
        key:
          ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{ hashFiles('conda/dev.yaml') }}

    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest"
        mamba-version: "1.1.0"
        environment-file: conda/dev.yaml
        use-only-tar-bz2: true  # IMPORTANT: This needs to be set for caching to work properly!
        channels: conda-forge,nodefaults
        activate-environment: pypkg
        use-mamba: true
        miniforge-variant: Mambaforge

    - name: Install dependencies
      run: poetry install

    - name: Run tests
      run: make test

    - name: Run style checks
      run: |
        pre-commit install
        make lint
        # run lint for the project using the template


  smoke-test:
    runs-on: ubuntu-latest
    concurrency:
      group: ci-smoke-${{ matrix.smoke_file }}-${{ github.ref }}
      cancel-in-progress: true

    strategy:
      matrix:
        smoke_file:
          - jupyter-book.sh
          - mkdocs.sh
          - sphinx.sh
          - black.sh
          - blue.sh

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v2

    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest"
        mamba-version: "1.1.0"
        environment-file: conda/dev.yaml
        channels: conda-forge,nodefaults
        activate-environment: pypkg
        use-mamba: true
        miniforge-variant: Mambaforge

    - name: Install dependencies
      run: poetry install

    - name: Run Smoke Test (mkdocs)
      run: bash ./tests/smoke/${{ matrix.smoke_file }}
