name: main

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    concurrency:
      group: ci-${{ github.ref }}
      cancel-in-progress: true

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v2

    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest"
        mamba-version: "0.23.0"
        environment-file: conda/dev.yaml
        channels: conda-forge,nodefaults
        activate-environment: pypkg
        use-mamba: true
        miniforge-variant: Mambaforge

    - name: Install dependencies
      run: poetry install

    - name: Run tests
      run: make test

    - name: Run Smoke Test (mkdocs)
      run: |
        chmod +x tests/smoke/mkdocs.sh
        ./tests/smoke/mkdocs.sh

    - name: Run Smoke Test (sphinx)
      run: |
        chmod +x tests/smoke/sphinx.sh
        ./tests/smoke/sphinx.sh

    - name: Run Smoke Test (jupyter-book)
      run: |
        chmod +x tests/smoke/jupyter-book.sh
        ./tests/smoke/jupyter-book.sh

    - name: Run style checks
      run: |
        pre-commit install
        make lint
        # run lint for the project using the template
